.field-g_cert_pic > a {
    width: 100px;
    display: block;
    word-wrap: break-word;
}

.field-g_mailing_address {
    width: 200px;
    /* display: block; */
    word-wrap: break-word;
}


.approve-button {
    background-color: #3cb186;
    border: none;
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    width: 72px;

}

.reject-button {
    background-color: #f56c6c;
    border: none;
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    width: 72px;

}




.send-email-btn {
    width: 120px;
    background-color: #409eff;
    border: none;
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;

}

.sent-email {
    background-color: #9eceff !important;
}

.generate-word-btn {
    width: 80px;
    background-color: #409eff;
    border: none;
    padding: 4px 12px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}


.btn-disabled {
    background-color: #00000020;
    cursor: auto;
}